[user]
	name = Nipuna Gunathilake
[include]
  path = ~/.gitconfig.local
[core]
	editor = nvim 
	excludesFile = ~/.gitignore_global
[alias]
  rh = reset --hard HEAD
  cob = checkout -b
  co = checkout
  ca = commit -a --verbose
  cp = cherry-pick
  pu = push
  puf = push -f
  st = status -sb
  ll = log --oneline
[push]
	autoSetupRemote = true
